.start {
    color: slateblue;
    text-align: center;
    margin-top: 130px;
    font-size: 40px;
    width: 100%;
}

.myprojects {
    text-align:end;
}

.blocks {
    color:red;
    font-weight:bold;
}

.text {
    text-align:end;
    max-width:50px;
}

.info {
    text-align: center;
    font-size: 50px;
    color:rgb(16, 129, 91);
}

p.small img {
    max-width: 100px; /* Adjust the size as needed */
}

p.small2 img {
    max-width: 100px; /* Adjust the size as needed */
}

p.small3 img{
    max-width:100px;
}


    
.small {
    position: fixed;
    top: 10px;
    left: 10px;
}

.small2 {
    position: fixed;
    top:100px;
    left:10px;
}

.small3 {
    position: fixed;
    top:200px;
    left:10px;
}

img {
    border-radius: 10%;
    max-width:900px;
    max-height: 900;
}

a img {
    border-radius: 0;
}

body {
    background-image: linear-gradient(pink,red);
}
